DEVICE={{ bridge.name }}
TYPE=Bridge
{% if bridge.dhcp is not defined %}
IPADDR={{ bridge.ip }}
NETMASK={{ bridge.netmask }}
{% if bridge.gateway is defined %}
GATEWAY={{ bridge.gateway }}
{% endif %}
{% if bridge.dns is defined %}
DNS1={{ bridge.dns }}
{% endif %}
BOOTPROTO=none
{% else %}
BOOTPROTO=dhcp
{% endif %}
ONBOOT=yes
NM_CONTROLLED=no
{% if bridge.zone is defined %}
ZONE={{ bridge.zone }}
{% endif %}
